<h4>Список клиентов</h4>
<table class="clients-tab">
  <thead>
  <tr>
    <td class="clients-tab-col1">Id</td>
    <td style="clients-tab-col2">Имя</td>
    <td style="clients-tab-col3">Адрес</td>
    <td style="clients-tab-col4">Телефон</td>
  </tr>
  </thead>
  <tbody>
  <#list clients as client>
  <tr>
    <td>${client.id}</td>
    <td>${client.name}</td>
    <td>${client.address.streetAddress}</td>
    <td><#list client.phones as phone>${phone.number}</#list></td>
  </tr>
  </#list>
  </tbody>
</table>
